@import '../variables.scss';

.work__description {
    flex: 0 0 auto;
    height: 300px;
    margin-bottom: 10px;
}

.work__description > div {
    background: rgba($color-secondary, .9);
    padding: 30px;
}

.work__description > div {
    align-items: flex-start;
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px;
}

.work__description h2 {
    color: #fff;
    font-size: 2.4em;
    margin: 0 0 15px;
}

.work__description p {
    color: #fff;
    font-size: 1em;
    line-height: 1.8;
    margin: 0;
}

@media screen and (min-width: 700px) {
    .work__description {
        height: calc(100vh - 30px);
        margin-bottom: 0;
        margin-right: 15px;
        width: 300px;
    }
    .work__description > div {
        height: calc(100vh - 30px);
        
    }
}

@media screen and (min-width: 900px) {
    .work__description {
        width: 450px;
    }
}
