@import './variables.scss';

.cover {
    display: block;
    height: calc(100vh - 164px);
    margin: 10px;
    position: relative;
    width: calc(100% - 20px);
}
.cover__photo {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity .6s linear;
    width: 100%;
    z-index: 3;
}
.cover:after {
    background: rgba($color-secondary, .5);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

@media screen and (min-width: 700px) {
    .cover {
        height: calc(100vh - 30px);
        margin: 15px;
        width: calc(100% - 30px);
    }
}
