@import './variables.scss';

.error {
    align-items: center;
    background: rgba($color-secondary, .2);
    display: flex;
    height: calc(100vh - 164px);
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: calc(100% - 20px);
}

.error p {
    margin: 0 20px 20px;
    text-align: center
}

.error p:last-child {
    margin-bottom: 0;
}

.error button {
    background: $color-primary;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-family: $font-family;
    font-size: .9em;
    padding: 12px 16px;
    transition: background .2s linear;
}

.error button:hover {
    background: darken($color-primary, 20%);
}

@media screen and (min-width: 700px) {
    .error {
        height: calc(100vh - 30px);
        margin: 15px;
        width: calc(100% - 30px);
    }
}
