@import 'variables.scss';

.photo {
    background-color: $color-secondary;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: calc(100vh - 30px);
    flex: 0 0 auto;
    margin-right: 15px;
}

@media screen and (min-width: 700px) {
    .photo {
        flex: 0 0 auto;
        margin-right: 15px;
    }
}
